.notMain{
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  font-family: 'BenchNine', sans-serif;
}

body{
margin-top: 250px;
background-color: grey;
} 
/* 
.bodyy {
  display: grid;
} */

.shopsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 5px;
  border-radius: 100%;
  width: 20%;
  height: 20%;
  font-family: 'BenchNine', sans-serif;
}

.reviewForm {
margin-top: 200px;
text-align: left;
display: grid;
}

.reviewForm label {
  font-size: large;
}

button{
  font-family: 'BenchNine', sans-serif;
  font-size: 36px;
}

input{
  font-family: 'BenchNine', sans-serif;
  font-size: 72px;
}
textarea{
  font-family: 'BenchNine', sans-serif;
  font-size: 48px;
}
.shopReviewsContainer{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: -150px;
}

.existingReviews{
  margin: 0;
}
.currentReviewState{
  display: block;
  margin-top: 250px;
  font-family: 'BenchNine', sans-serif;
  ;
}
a{
  text-decoration: none;
  color: black;
}
.headerImage img{
  opacity:1;
}
img{
  opacity:0.5;
  transition: 1s ease;
}
img:hover{
  opacity:1;
  transition: 1s ease;
}

a:hover{
  color: burlywood;
}

.shopCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vw;
  border: 5px solid black;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
  font-family: 'BenchNine', sans-serif;
  font-size: 24px;
  text-decoration: double;
  padding: 0;
  transition: .5s ease;
}

.shopCard h1{
  text-shadow: 1px 1px burlywood;
  text-decoration: underline;
}

.shopCard:hover{
  box-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}
.imageOnShopCardPage{
  border: 50px white;
  border-radius: 12%;
  width: 60vw;
  height: 50vh;
  object-fit: cover;
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-top: -250px;
  margin-right: 100px;
  margin-left: 100px;
  height: 200px;
  width: 100vw;
  font-size: 60px;
  font-family: 'BenchNine', sans-serif;
  font-weight: 700;
  background-color: white;
  border-radius: 2%;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  /* background-image: url("./assets/Good Coffee Austin NEW.png"); */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 250px;
  text-align: right;
  /* border: 5px solid black;
  border-radius: 5%; */
}

.headerImage{
display: flex;
margin-right: 20px;
}

.headerImage img{
  opacity: 1;
}

.headerImage img:hover{
  opacity: .5;
  transition: 1s ease;
}

.headerLink {
  display: flex;
  align-content: flex-end;
  font-size:24px;
  text-align: end;
}

.notHome img{
 opacity: 1;
 transition: .2s ease;
}


.notHome img:hover{
  opacity: 0.8;
  transition: .2s ease;

}

.coffeeShopsImg{
  display: grid;
  width: 20vw;
  height: 20vh;
  object-fit: contain;
}

.coffeeShopsImg img{
  border-radius: 10%;
}
